.nav   
    font-family: 'Josefin Sans', Helvetica, sans-serif
    font-size: 1.2em
    font-weight: 800 

.nav-container
    margin-left: 10%

.mainnav 
    background-color: silver

.mainnav ul.navbar-nav li a:hover,
.mainnav ul.navbar-nav li a:focus 
    background-color: white
  
.mainnav ul.navbar-nav li a 
    color: black  

.mainnav .navbar-brand
    font-size: 1.5em
    color: black

.mainnav .navbar-brand:hover 
    background-color: blue

h1
    text-shadow: 2px 1px 2px #000
    font-size: 3em
    color: silver

h4
    text-shadow: 2px 1px 2px #000
    font-size: 2em
    color: white

.section-one-pic     
    padding-bottom: 50px  
    background: url("https://images.unsplash.com/photo-1416672037352-53611b92e612?ixlib=rb-0.3.5&q") no-repeat center center fixed
    background-size: cover
    height: 900px 

.section-two-pic     
    padding-bottom: 50px  
    background: url("https://images.unsplash.com/photo-1471648460966-17b0e224869f?ixlib=rb-0.3.5&q") no-repeat center center fixed
    background-size: cover  

.section-three-pic     
    padding-bottom: 50px  
    background: url("https://images.unsplash.com/photo-1487452066049-a710f7296400?ixlib=rb-0.3.5&") no-repeat center center fixed
    background-size: cover

.section-four-pic  
    padding-bottom: 50px  
    background: url("https://images.unsplash.com/photo-1416339306562-f3d12fefd36f?ixlib=rb-0.3.5&q=1") no-repeat center center fixed
    background-size: cover
    height: 900px      

.section-one-content 
    margin-top: 10%
    // margin-bottom: 5%
    border-bottom: 2px solid white
    font-family: Orbitron, Helvetica, sans-serif 

.section-two-content 
    margin-top: 24%
    margin-bottom: 5%
    border-top: 2px solid white

.section-three-content 
    margin-top: 4%
    margin-bottom: 5%
    border-bottom: 2px solid white
    font-family: Orbitron, Helvetica, sans-serif

.btn 
    display: inline-block
    color: black    
    border: 2px inset black
    background:  #e0e0eb
    margin-right: 2%
    transition: 0.2s
    box-shadow: 1px 1px 2px black, 0 0 50px #e6ccff, 0 0 50px #e6ccff;


.btn:hover 
    color: white
    border: 2px inset rgba(0, 0, 0, 0.9)
    background: rgba(50, 50, 80, 0.9)  
    transform: scale(1.2)
    transition: 0.4s 

.col-md-4 .well
     opacity: .8
     margin-Bottom: 15%
     box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.3)
     background-color: silver

.section-three-cardtitle 
     max-width: 400px
     margin: 0 auto
     background-color: rgba(0,0,0, 0.6)
     text-align: center
     padding: 15px
     color: white 

#portfolio .section-three-well:hover 
    transition: 0.6s
    box-shadow: 10px 20px 10px rgba(0,0,0,0.3)

#portfolio .section-three-well .section-three-link 
    display: block
    position: relative
    max-width: 400px
    margin: 0 auto

#portfolio .section-three-well .section-three-link .section-three-card-hover 
    background: rgba(0, 0, 0, .7)
    position: absolute
    width: 100%
    height: 100%
    opacity: 0
    transition: all ease .5s 

#portfolio .section-three-well .section-three-link .section-three-card-hover:hover 
     opacity: 1

.list-inline 
    font-family: Lobster, Helvetica, sans-serif

.section-two-content h1,
.section-two-content h4
    font-family: Lobster

.section-two-content p
    font-family: Lobster
    color: silver
    font-size: 1.5em
    text-shadow: 2px 1px 2px #000

.section-two-photo 
     margin-top: 35% 

.section-two-photo .img-circle
     border: 10px solid silver  

.section-four-content 
    margin-top: 40%
    font-family: Permanent Marker
    font-size: 1em 
    margin-left: 10%  

.section-four-buttons  
    margin-left: 30%

.btn-space 
    padding: 50px

.btn-group-vertical .btn 
    margin-bottom: 20%
